# JWT 相關設定
JWT_SECRET_KEY=your_random_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

# Firebase 相關設定
FIREBASE_CREDENTIALS_JSON={
    "type": "service_account",
    "project_id": "your_project_id"
    ...直接貼上json內容
}
FIRESTORE_USERS_COLLECTION=users

# 全家便利商店 API 密鑰
FAMILYMART_API_KEY=your_familymart_api_key_here
